<div style="text-align:center">
  <h1>
    Breaking Bad Character Cards
  </h1>
  <button class="button primary" (click)="getData()">Fetch Data</button>
    <div *ngFor="let person of data " style="text-align:center">
      <div>
        {{  person.name}}<br>
        {{  person.birthday}}<br>
        {{ person.nickname }}<br>
        {{ person.occupation}}<br>
        {{ person.status}}<br>
        In Seasons : {{ person.appearance}}<br>
        {{ person.portrayed}}<br>
        {{ person.category}} <br>
        {{ person.better_call_saul_apperance}}<br>
        <img src={{person.img}} width="200" height="200" alt="">
       </div>
      </div>
 </div>